In [ ]:
multiline = "Life is too short\n you \f need Python"
print(multiline)

In [ ]:
head = "python"
tail = " is fun!"
head + tail

In [ ]:
a = "python"
a * 2

In [ ]:
print("=" * 50)
print("My Program")
print("=" * 50)

In [ ]:
print("=" * 50)
print("Hello")
print("=" * 50)

In [ ]:
a = "Life is too short. You need Python"
b = "111111-1234567"
#len(a)
# b[7]
# a[-1]
# a[0] + a[1] +a[2] +a[3]
# a[0:5]
# a[19:] 끝을 모를때
# a[:17] 시작을 모를때
# a[:] 처음부터 끝까지
# type(a)
a[19:-7]

In [ ]:
a = "20230331Rainy"
year = a[:4]
date = a[:8]
weather = a[8:]
print(date)
print(weather)
print(year)

In [ ]:
# a = "Pithon"
# a[1]
# a[1] = "y" 불가능

a = "Pithon"
c = "y"
a[1]
a[:1]
a[2:]
b= a[:1] + "y" + a[2:]
d= a[:1] + c[:1] + a[2:]
print(b)
print(d)

In [ ]:
"I eat %d apples." % 3
"I eat %s apples." % "five"

In [ ]:
number = 3
"i eat %d apples." % number

In [ ]:
num = 3
day = "three"
"I eat %d apples. so I was sick for %s days" %(num, day)

In [ ]:
"I eat {0} apples." .format(3)
# .format .중요

In [ ]:
"I eat {0} apples." .format("three")

In [ ]:
"I have %s apples" %3
"rate is %s" %3.234

In [ ]:
# "Error is %d%." % 98
"Error is %d%% " %98 # %사용하고싶으면 두번사용

In [ ]:
"%10s" % "hi"

In [ ]:
"%-10sjane." % 'hi'

In [ ]:
"%0.4f" % 3.42134234 #소수점 넷째자리까지 표현

In [ ]:
"%10.4f" % 3.42134234

In [ ]:
"I eat {0} apples." .format("3")

In [ ]:
"I eat {0} apples" .format("five")

In [ ]:
number=3
"I eat {0} apples" .format(number)

In [ ]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days." .format(number, day)

In [ ]:
"I ate {number} apples. so I was sick for {day} days." .format(number=10, day="3")

In [ ]:
"I ate {0} apples. so I was sick for {day} days." .format(10, day=3)

In [ ]:
"{0:<10}" .format("hi")

In [ ]:
"{0:>10}" .format("hi")

In [ ]:
"{0:^10}" .format("hi")

In [ ]:
"{0:=^10}" .format("hi")

In [ ]:
"{0:!<10}" .format("hi")

In [ ]:
y = 3.42134234
"{0:0.4f}" .format(y)
"{0:10.4f}" .format(y)

In [ ]:
"{{and}}" .format()

In [ ]:
name = "홍길동"
age = 30
f'나의 이름은{name}입니다. 나이는 {age}입니다.'

In [ ]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

In [ ]:
d = {"name" : "홍길동", "age":30}
f'나의 이름은 {d["name"]}입니다. 나이는{d["age"]}입니다'

In [ ]:
f'{"hi":<10}'

In [ ]:
f'{"hi":>10}'

In [ ]:
f'{"hi":^10}'

In [ ]:
a = "hobby"
a.count('b')

In [ ]:
a = "Python is the best choice"
a.find('b')

In [ ]:
a.find("k") #값이 없으면 -1

In [ ]:
a = "Life is too short"
a.index('t')

In [ ]:
a.index('k')
# k는 존재하지 않음, 오류코드 발생

In [ ]:
"," .join("abcd")

In [ ]:
"," .join(["a", "b", "c", "d"])

In [ ]:
a = "      hi          "
a.strip() #l은 left r은 right

In [ ]:
a = "Life is too short"
a.replace("Life", "Your leg")

In [ ]:
a = "pithon"
a.replace("i", "y") #교체할때 replace

In [ ]:
a = "Life is too short"
a.split()

In [ ]:
b = "a:b:c:d"
b.split(":")

In [ ]:
"{0:!^12}" .format("python")

In [ ]:
a = "python"
f'{a:!^12}'

In [ ]:
f'{"python":!^12}'

In [ ]:
len("python")

In [ ]:
odd = [1, 3, 5, 7, 9]
print(odd)

In [ ]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [ ]:
a = [1, 2, 3]
a

In [ ]:
a[0]

In [ ]:
a[0] + a[2] #a[0] = 1 a[2] = 3 1 + 3 =4

In [ ]:
a[-1]

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[1]

In [ ]:
a[3]

In [ ]:
a[3][0]

In [ ]:
b = [1, 2, 3]
b[0]
b
b[0] + b[1]
b[-1]

In [ ]:
a = [1, 2, 3, ['a','b','c']]
a
a[3]
print(a[3][0])
print(a[3][1])
print(a[3][2])

In [ ]:
a= [1, 2, ['a', 'b', ['Life', 'is']]]
a[-1][-1][0]

In [ ]:
a = [1, 2, 3, 4, 5]
a[0:2]

In [ ]:
a="12345"
a[0:2]

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)
print(c)

In [ ]:
a[1:3]

In [ ]:
a = [1, 2, 3,['a', 'b', 'c'], 4, 5]
b = a[2:5]
c = a[3][:2]
print(b)
print(c)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

In [ ]:
a *3

In [ ]:
len(a)

In [ ]:
a = [1, 2 ,3]
a[2] + "hi"

In [ ]:
str(a[2]) + "hi"

In [ ]:
a = [1, 2 ,3]
a[2] = 4
a

In [ ]:
a=[1, 2, 3]
del a[1]
a

In [ ]:
a = [1, 2 ,3, 4 ,5]
del a[2:]
a

In [ ]:
a = [1, 2, 3]
a.append(4)
a

In [ ]:
a.append([5.6])
a

In [ ]:
a = [1,2,3]
a.extend([4, 5])
a

In [ ]:
a = [1, 5, 3, 4, 2]
a.sort()
a

In [ ]:
a = ['b', 'c', 'd', 'e', 'a']
a.sort()
a

In [ ]:
a = ['a', 'c', 'b']
a.sort()
a.reverse()
a

In [ ]:
a = ["a", "d", "c"]
a.reverse()
a

In [ ]:
a= [1, 2, 3]
a.index(3)

In [ ]:
a = [1, 2, 3]
a.insert(0,4)

In [ ]:
a

In [ ]:
a= [1, 2, 3, 1, 2, 3]
a.remove(3)

In [ ]:
a

In [ ]:
a = [1, 2 ,3]
a.pop()

In [ ]:
a

In [ ]:
a = [1,2,3]
a.pop(1)

In [ ]:
a

In [ ]:
a = [1,2,3,1]
b= a.count(1)

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ("a", "b",("ab","cd"))
type(t4)

In [ ]:
t1 = (1,2,'a','b')
del t1[0]
# 튜플은 삭제불가능

In [ ]:
t1 = (1,2,"a","b")
t1[0] = "c"
# 튜플은 변경불가능

In [ ]:
t1 = (1,2,"a","b")
t1[0]

In [ ]:
t1[3]

In [ ]:
t1 = (1,2,'a','b')
t1[1:]

In [ ]:
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2
t3

In [ ]:
t2 = (3,4)
t3 = t2*3
t3

In [ ]:
t1 = (1,2,'a','b')
len(t1)

In [ ]:
# 1번
sum = 80 + 75 +55
a = sum/3
print(a)

In [ ]:
# 2번
# 2로 나눈 나머지가 1이면 홀수 0이면 짝수 
# 나머지값 사용할때는 %사용

In [ ]:
# 3번
pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[7:]

print(yyyymmdd)
print(num)

In [ ]:
# 4번
pin = "881120-1068234"
gpin = pin[7:8]
print(gpin)

In [ ]:
# 5번
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

In [ ]:
# 6번
a= [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

In [ ]:
# 7-1번
a = ['Life', 'is', 'too', 'short']
b = [" "]
result= a[0]+b[0]+a[1]+b[0]+a[2]+b[0]+a[3]
print(result)

In [ ]:
# 7-2번
a = ['Life', 'is', 'too', 'short']
c = " ".join(a)
print(c)

In [ ]:
# 8-1번
a=(1,2,3)
b=(4,)
a = a+b
print(a)

In [ ]:
# 8-2번
a=(1,2,3)
a= a + (4,)
print(a)

# 2023-09-04

In [ ]:
dic = {'name': 'pey', 'phone' : '010-9999-1234', 'birth' : '1118'}
type(dic)

In [ ]:
a = {1: "a"}

In [ ]:
a= {'a': [1, 2, 3]}
type(a)
a

In [ ]:
a= {1:'a'}
a[2] = 'b'
a

In [ ]:
a["name"] = "pey"
a

In [ ]:
a[3] = [1, 2, 3]
a

In [ ]:
del a[1]
a

In [ ]:
del a[3]
a

In [ ]:
del a["name"]
a

In [ ]:
grade = {'pey':10, 'julliet':99}
a = grade['pey']
b = grade["julliet"]
print(a)
print(b)

In [ ]:
a = {1:"a", 2:"b"}
a1 = a[1]
a2 = a[2]
print(a1)
print(a2)

In [ ]:
a = {"a": 1, "b":2}
a1=a["a"]
a2=a["b"]
print(a1)
print(a2)

In [ ]:
dic

In [ ]:
dic["name"]

In [ ]:
dic["phone"]

In [ ]:
a = {1 : "a", 1 : "b"}
a

In [ ]:
a = {[1,2] : hi}
# 키값에 리스트는 넣지않는다
# 키값은 변형x 유일하다.

In [ ]:
a = {"name":"pey", "phone":"010-9999-1234", "birth":"1110"}
a.keys()

In [ ]:
for k in a.keys():
    print(k)

In [ ]:
c = list(a.keys())
type(c)

In [ ]:
a.values()

In [ ]:
a.items()

In [ ]:
a.clear()
a

In [ ]:
a = {"name": "pey", "phone":"010-9999-1234", "birth":"1118"}
a.get("name")

In [ ]:
a.get("phone")

In [ ]:
print(a.get("nokey"))

In [ ]:
print(a["nokey"])

In [ ]:
a.get("nokey", "foo")

In [ ]:
"name" in a

In [ ]:
"email" in a

In [ ]:
info = {"name":"홍길동", "birth":"1128", "age":"30"}
info

In [ ]:
"name" in info

In [ ]:
"birth" in info

In [ ]:
"age" in info

In [ ]:
type(info)

In [ ]:
"true" in info

In [ ]:
s1 = set([1, 2, 3])
type(s1)
s1

In [ ]:
s2 = set("Hello")
s2

In [ ]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

In [ ]:
l1[0]

In [ ]:
t1 = tuple(s1)
t1

In [ ]:
t1[0]

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [ ]:
s1 & s2

In [ ]:
s1.intersection(s2)

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

In [ ]:
s1 - s2

In [ ]:
s2 - s1

In [ ]:
s1.difference(s2)

In [ ]:
s2.difference(s1)

In [ ]:
a = s1 & s2
b = s1 - a
b

In [ ]:
s1 = set([1, 2, 3])
s1.add(4) # 하나추가할때
s1

In [ ]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6]) # 여러개 추가할 때
s1

In [ ]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

In [ ]:
a = {"A":90, "B":80, "C":70 }
result = a.pop("B")
print(a)
print(result)

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)
#같은 메모리를 가르키기때문에

# 2023-09-05

In [ ]:
a = True
b = False

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
1 == 1

In [ ]:
2 > 1

In [ ]:
2 < 1

In [ ]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

In [ ]:
if[]:
    print("참")
else:
    print("거짓")

In [ ]:
if[1,2]:
    print("참")
else:
    print("거짓")

In [ ]:
bool('python')

In [ ]:
bool('')

In [ ]:
bool([1, 2, 3])

In [ ]:
bool([])

In [ ]:
bool(0)

In [ ]:
bool(3)

In [ ]:
a = 1
b = "python"
c = [1, 2, 3]

In [ ]:
a = [1,2,3]
b = a

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
a is b

In [ ]:
a[1] = 4
a

In [ ]:
b

In [ ]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
a
id(a)

In [ ]:
b
id(b)

In [ ]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
print(a)
print(b)

In [ ]:
b is a

In [ ]:
a = [1, 2, 3]
b = a.copy()
b is a

In [ ]:
a, b = ("python", "life")

In [ ]:
(a, b)= "python", "life"

In [ ]:
[a, b] = ["python", "life"]

In [ ]:
a =  b = "python"

In [ ]:
a=3
b=5
a, b = b, a
print(a)
print(b)

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b
#다른메모리를 가르키므로 false

In [ ]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어가라")

In [ ]:
x = 3
y = 2
x > y

In [ ]:
x < y

In [ ]:
x == y

In [ ]:
x != y

In [ ]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

In [ ]:
1 in [1, 2, 3]

In [ ]:
1 not in [1, 2, 3]

In [ ]:
"a" in ("a", "b", "c")

In [ ]:
"j" not in "python"

In [ ]:
pocket = ["paper", "cellphone", "money"]
if "money" in pocket:
    print("택시를 타고 가라")
else:
    print("걸어가라")

In [ ]:
pocket = ["paper", "cellphone", "money", "card"]
if "card" not in pocket:
    print("걸어가라")
else:
    print("버스를 타고 가라")

In [ ]:
pocket = ["paper", "cellphone", "money"]
if "money" in pocket:
    pass
else:
    print("카드를 꺼내라")

In [ ]:
pocket= ["paper", "cellphone"]
card = True
if "money" in pocket:
    print("택시를 타고 가라")
else:
    if card:
        print("버스를 타고 가라")
    else:
        print("걸어가라")

In [ ]:
if "money" in pocket:
    print("택시를 타고 가라")
elif card:
    print("버스를 타고 가라")
else:
    print("걸어가라")

In [ ]:
score = 80
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)

In [ ]:
message = "success" if score >= 60 else "failure"
print(message)

# 2023-09-06

In [ ]:
treeHit = 0
while treeHit <10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다."% treeHit)
    if treeHit == 10:
        print("나무가 넘어갑니다.")

In [ ]:
treeHit = 0
while treeHit <10:
    treeHit = treeHit + 1
    print(f"나무를 {treeHit}번 찍었습니다.")# f문자열 포메팅 사용
    if treeHit == 10:
        print(f"나무가 {treeHit}번 찍은 뒤 넘어갑니다.")

In [ ]:
treeHit = 10
while treeHit >0:
    treeHit = treeHit - 1
    print("나무를 %d번 찍었습니다."% treeHit)
    if treeHit == 0:
        print("나무가 넘어갑니다.")

In [ ]:
prompt = """
1.Add
2.Del
3.List
4.Quit

Enter number: """

In [8]:
number = 0
while number != 4:
    if number == 1:
        print("추가")
    print(prompt)
    number = int(input())

1.Add
2.Del
3.List
4.Quit

Enter number:
1
추가

1.Add
2.Del
3.List
4.Quit

Enter number:
4

In [6]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다")
    coffee = coffee -1
    print(f"남은 커피의 양은 {coffee}개 입니다.")
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [12]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요(커피가격 300원):"))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee - 1
        print(f"남은 커피의 양은 {coffee}개입니다.")
    elif money >300:
        print(f"거스름돈 {money-300}원을 주고 커피를 줍니다.")
        coffee = coffee-1
        print(f"남은 커피의 양은 {coffee}개입니다.")
    else:
        print("돈을 다시 돌려 주고 커피를 주지 않습니다.")
        print(f"남은 커피의 양은 {coffee}개입니다.")
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 넣어 주세요(커피가격 300원):300
커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 넣어 주세요(커피가격 300원):200
돈을 다시 돌려 주고 커피를 주지 않습니다.
남은 커피의 양은 9개입니다.
돈을 넣어 주세요(커피가격 300원):400
거스름돈 100원을 주고 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 넣어 주세요(커피가격 300원):500
거스름돈 200원을 주고 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 넣어 주세요(커피가격 300원):600
거스름돈 300원을 주고 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 넣어 주세요(커피가격 300원):300
커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 넣어 주세요(커피가격 300원):500
거스름돈 200원을 주고 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 넣어 주세요(커피가격 300원):200
돈을 다시 돌려 주고 커피를 주지 않습니다.
남은 커피의 양은 4개입니다.
돈을 넣어 주세요(커피가격 300원):100
돈을 다시 돌려 주고 커피를 주지 않습니다.
남은 커피의 양은 4개입니다.
돈을 넣어 주세요(커피가격 300원):510
거스름돈 210원을 주고 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 넣어 주세요(커피가격 300원):300
커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 넣어 주세요(커피가격 300원):200
돈을 다시 돌려 주고 커피를 주지 않습니다.
남은 커피의 양은 2개입니다.
돈을 넣어 주세요(커피가격 300원):300
커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 넣어 주세요(커피가격 300원):1000
거스름돈 700원을 주고 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [18]:
a = 0
while a<10:
    a = a+1
    if a % 3 == 0: continue
    print(a)

1
2
4
5
7
8
10

In [19]:
test_list = ["one", "two", "three"]
for i in test_list:
    print(i)

one
two
three

In [20]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [32]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark <60: 
        continue  # 60점 이하인 사람들은 continue로 인하여 print문 출력 x
    print(f"{number}번 학생은 합격입니다.")

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [1]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >=60:
        print(f"{number}번 학생은 합격입니다.")
    else:
        print(f"{number}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

# 2023-09-07

In [2]:
a = range(10)
a

range(0, 10)

In [5]:
a = range(1, 11)
a

range(1, 11)

In [9]:
add = 0
for i in range(1, 11):
    add = add + i
print(add)

55

In [11]:
add = 0
for i in range(1, 101):
    add = add + i
print(add)

5050

In [13]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)): # 5개의 요소를 반복한다
    if marks[number] <60:
        continue
    print(f"{number+1}번 학생 축하합니다. 합격입니다.")

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [15]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [37]:
for i in range(2,10):
    for j in range(1,10):
        c= i*j
        print(f"{i} * {j} = {c}")
    if(i!=9):
        print("------------")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [38]:
a = [1,2,3,4]
result=[]
for n in a:
    result.append(n*3)
print(result)

[3, 6, 9, 12]

In [40]:
a = [1,2,3,4]
result = [n*3 for n in a]
print(result)

[3, 6, 9, 12]

In [42]:
result = [x*y for x in range(2,10)
             for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [1]:
# 문제 1
a = "Life is too short, you need python"
if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "shirt" not in a:
    print("shirt")
elif "need" in a:
    print("need")
else:
    print("none")

shirt

In [46]:
# 문제 2
result = 0
i = 1
while i <= 1000:
    if (i%3==0):
        result += i
    i += 1
print(result)

166833

In [52]:
# 문제 3
i = 0
while True:
    i += 1
    if(i > 5): break
    print(f"{i * '*'}")

*
**
***
****
*****

In [56]:
# 문제 4
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [64]:
# 문제 5
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/len(A)
print(average)

79.0

In [68]:
# 문제 6-1
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 ==1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [1]:
# 문제 6-2
numbers = [1, 2, 3, 4, 5]
result = [num*2 for num in numbers if num%2 == 1]
print(result)

[2, 6, 10]

# 2023-09-11  p153~

In [3]:
def add(a,b):
    return a + b

In [4]:
a= 3
b = 4
c = add(a,b)
print(c)

7

In [7]:
#def add(a,b):
 #   return a + b
#print(add(3,4))

7

In [6]:
def add(a,b):
    result = a + b
    return result

In [8]:
a = add(3,4)
print(a)

7

In [10]:
def say():
    return 'Hi'

In [12]:
a = say()
print(a)

Hi

In [16]:
def add(a,b):
    print(f"{a}, {b}의 합은 {a+b}입니다.")

In [18]:
add(3,4)

3, 4의 합은 7입니다.

In [21]:
add(4,8)

4, 8의 합은 12입니다.

In [23]:
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [25]:
def say():
    print("HI")

In [27]:
say()

HI

In [29]:
def sub(a, b):
    return a - b

In [31]:
result = sub(a=7, b=3)
print(result)

4

In [33]:
result = sub(b=5, a=3)
print(result)

-2

In [35]:
def add_many(*args):    #args=변수가 몇개들어올지 모를때 사용
    result = 0
    for i in args:
        result = result + i
    return result

In [38]:
result = add_many(1, 2, 3)
print(result)

6

In [40]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [82]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [83]:
result = add_mul('add',1, 2, 3, 4, 5)
print(result)

15

In [84]:
result = add_mul('mul',1, 2, 3, 4, 5)
print(result)

120

In [54]:
def print_kwargs(**kwargs):    # **사용시 딕셔너리로 사용
    print(kwargs)

In [63]:
print_kwargs(a=1)
print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [79]:
def add_and_mul(a, b)

In [105]:
def add_mul_div(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    elif choice == "div":
        result = 0
        for i in args:
            if result == 0:
                result = i
            else:
                result = result / i
    return result

In [110]:
result = add_mul_div("add", 1, 3)
print(result)

4

In [96]:
result = add_mul_div("mul", 10, 5)
print(result)

50

In [111]:
result = add_mul_div("div",30, 5)
print(result)

6.0

In [113]:
def add_and_mul(a, b):
    return a+b, a*b

In [116]:
result = add_and_mul(3,4)
print(result)

(7, 12)

In [119]:
result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [121]:
def add_and_mul(a,b):
    return a + b
    return a * b

In [123]:
result = add_and_mul(2, 3)
print(result)

5

In [125]:
def say_nick(nick):
    if nick == "바보":
        return
    print(f"나의 별명은 {nick}입니다")

In [127]:
say_nick("야호")

나의 별명은 야호입니다

In [129]:
say_nick("바보")

In [131]:
def say_myself(name, age, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다")

In [132]:
say_myself("홍길동", 27)

나의 이름은 홍길동입니다.
나이는 27살입니다.
남자입니다.

In [134]:
say_myself("홍길동", 27, True)

나의 이름은 홍길동입니다.
나이는 27살입니다.
남자입니다.

In [136]:
say_myself("홍길동",27,False)

나의 이름은 홍길동입니다.
나이는 27살입니다.
여자입니다

In [138]:
def say_myself(name, man=True, age):    #초기값이 있는 매개변수는 없는 매개변수 앞에 사용할 수 없다.
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

SyntaxError: non-default argument follows default argument (1262262110.py, line 1)

# 2023-09-12 p167~

In [5]:
a=1
def vartest(a):
    a= a+1
vartest(a)
print(a)

1

In [9]:
hello=1
def vartest(hello):
    hello=hello+1
vartest(hello)
print(hello)

1

In [18]:
def vartest(f):
    a = a + 1
    
vartest(3)
print(f)

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [22]:
a = 1
def vartest(a):
    a= a+1
    return a


a = vartest(a)
print(a)

2

In [23]:
a = 1
def vartest():
    global a
    a = a + 1

vartest()
print(a)

2

In [24]:
add = lambda a, b: a+ b
result = add(3, 4)
print(result)

7

In [25]:
def add(a,b):
    return a + b
result = add(3,4)
print(result)

7

In [26]:
 a = input()

dddd

In [27]:
number = input("숫자를 입력하세요:")

숫자를 입력하세요:5

In [31]:
%config Completer.use_jedi = False

In [32]:
a = "python"
print(a)

python

In [34]:
a=[1, 2 ,3]
print(a)

[1, 2, 3]

In [36]:
for i in range(10):
    print(i, end= ' ')

0 1 2 3 4 5 6 7 8 9

In [38]:
pwd

'C:\\Users\\woori'

In [42]:
f = open("새파일.txt", 'w')
f.close()

In [45]:
f = open("C:/doit/새파일.txt",'w')
f.close()

In [62]:
f = open("C:/doit/새파일.txt", 'w')
for i in range(1, 11):
    data = f"{i}번째 줄입니다. \n"
    f.write(data)
f.close()

In [63]:
for i in range(1,11):
    data = f"{i}번째 줄입니다. \n"
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [64]:
for i in range(1,10):
    data = f"{i}번째 줄입니다. \n"
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [66]:
f = open("C:/doit/새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [68]:
f = open("C:/doit/새파일.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [70]:
while True:
    data = input()
    if not data: break
    print(data)

In [76]:
f = open("C:/doit/새파일.txt",'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [81]:
f = open("c:/doit/새파일.txt",'r')
lines = f.readlines()
for line in lines:
    line = line.strip()
    print(line)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [83]:
f = open("c:/doit/새파일.txt",'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [85]:
f = open("c:/doit/새파일.txt",'r')
for line in f:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [87]:
f = open("c:/doit/새파일.txt",'a')
for i in range(11,20):
    data = f"{i}번째 줄입니다. \n"
    f.write(data)
f.close()

In [89]:
f = open("foo.txt", 'w')
f.write("Life is too short, you need python")
f.close()

In [91]:
with open("foo.txt", 'w') as f:
    f.write("Life is too short, you need python")

# p185 ~ p188 Q1) ~ Q7)

In [98]:
# Q1
def is_odd(number):
    if number%2 == 1:
        return True
    else:
        return False
    
a = is_odd(2)
print(a)

False

In [106]:
# Q2
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result/len(args)

b=avg_numbers(1,2)
c=avg_numbers(1,2,3,4,5)

print(b)
print(c)

1.5
3.0

In [7]:
# Q3
input1 = int(input("첫 번째 숫자를 입력하세요: "))
input2 = int(input("두 번째 숫자를 입력하세요: "))


total = input1 + input2
print(f"두 수의 합은 {total}입니다.")

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
두 수의 합은 3입니다.

In [23]:
# Q4
input1 = input("첫 번째 숫자를 입력하세요: ")
input2 = input("두 번째 숫자를 입력하세요: ")


total = int(input1) + int(input2)
print(f"두 수의 합은 {total}입니다.")

첫 번째 숫자를 입력하세요: 5
두 번째 숫자를 입력하세요: 2
두 수의 합은 7입니다.

In [9]:
#Q5
f1 = open("text.txt", 'w')
data = "Life is too short"
f1.write(data)
f1.close()


f2 = open("text.txt", 'r')
line = f2.readline()
print(line)
f2.close()

Life is too short

In [19]:
# Q6
user_input = input("저장할 내용을 입력하세요:")
f = open("text.txt", 'a')
f.write(user_input)
f.write("\n")
f.close()

저장할 내용을 입력하세요:수고

In [22]:
# Q7-1
f = open("text.txt", 'r')
body = f.read()
f.close()
body = "Life is too short\nyou need python"
f = open("text.txt", 'w')
f.write(body)
f.close()

In [26]:
Q7-2
f = open("text.txt", 'r')
body = f.read()
f.close()
body = body.replace("java","python")
f = open("text.txt", 'w')
f.write(body)
f.close()

# 2023-09-13 p190~

In [30]:
result = 0
def add(num):
    global result
    result += num
    return result

print(add(3))
print(add(4))

3
7

In [33]:
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2
print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

3
7
3
10

In [58]:
result1 = 0
result2 = 1
result3 = 0
result4 = 0

def add(num):
    global result1
    result1 += num
    return result1

def mul(num):
    global result2
    result2 = num*result2
    return result2

def sub(num):
    global result3
    if result3 == 0:
        result3 = num
    else:
        result3 =result3-(num)
    return result3

def div(num):
    global result4
    if result4 == 0:
        result4 = num
    else:
        result4 = result4 /num
    return result4

print(sub(6))
print(sub(2))
print(div(6))
print(div(3))

6
4
6
2.0

In [2]:
class Calculator:
    def __init__(self):
        self.result = 0
        
    def add(self, num):
        self.result += num
        return self.result
    
cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

# 2023-09-14 p193~

In [2]:
class Cookie:
    pass

In [3]:
class FourCal:
    pass
a = FourCal()
print(type(a))

<class '__main__.FourCal'>

In [4]:
c = FourCal()

In [2]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

In [3]:
a = FourCal()
a.setdata(5,2)

In [4]:
a.first

5

In [5]:
a.second

2

# 2023-09-15 p203~

In [12]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    
    def add(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result

In [13]:
a = FourCal()
a.setdata(4,2)

In [14]:
a.add()

6

In [15]:
a.mul()

8

In [16]:
a.sub()

2

In [18]:
a.div()

2.0

In [19]:
b = FourCal()
b.setdata(3,8)

In [20]:
b.add()

11

In [21]:
b.mul()

24

In [22]:
b.sub()

-5

In [23]:
b.div()

0.375

In [25]:
a = FourCal()
a.setdata(4,2)    #번거로움
a.add()

6

In [27]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
        
    def setdata(self, first, second):
        self.first = first
        self.second = second
    
    def add(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result

In [31]:
a = FourCal(4,2)
b = FourCal(3,8)
a.setdata(4,2)
b.setdata(3,8)
print(a.add())
print(a.mul())

6
8

In [32]:
a.add()

6

In [33]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

In [34]:
a = MoreFourCal(4,2)
a.add()

6

In [36]:
a = MoreFourCal(4,2)
a.pow()

16

In [41]:
a = FourCal(4,0)
a.div()

ZeroDivisionError: division by zero

In [38]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else:
            return self.first /self.second

In [42]:
a = SafeFourCal(4,0)
a.div()

0